@import "@/styles/variables";

.content {
  @apply flex gap-4 items-center justify-center;
  @apply h-56 w-full rounded shadow-lg px-32;
}
.active {
  color: gray;
}
.default {
  color: black;
}

.finish {
  color: $accent;
}
.step {
  &__icon {
    @apply flex flex-row w-16 h-20;
    font-size: 2rem;
  }

  &__info {
    @apply flex flex-col;
  }

  &__text {
    @apply text-sm text-center;
  }
}
