@import "@/styles/variables";

.container {
  @apply hover:brightness-105 active:brightness-95;
  @apply font-bold;
  @apply px-4 py-2 rounded-2xl;
  @apply duration-300 transition-all;
  border: 2px solid transparent;
}

.filled {
  background-color: $accent;
  @apply text-white;
}

.alternative {
  background-color: transparent;
  border-color: $accent;
  color: $accent;
}
