h1,
.h1 {
  @apply text-8xl font-normal;
  letter-spacing: -1.5px;
}

h2,
.h2 {
  @apply text-6xl font-medium;
  letter-spacing: -0.5px;
}

h3,
.h3 {
  @apply text-5xl font-normal;
  letter-spacing: 0.20000000298023224px;
}

h4,
.h4 {
  @apply text-3xl font-bold;
  letter-spacing: 0.25px;
}

h5,
.h5 {
  @apply text-2xl font-bold;
}

h6,
.h6 {
  @apply text-lg font-bold;
  letter-spacing: 0.15000000596046448px;
}

body,
.body-1 {
  @apply text-base font-normal;
}

.body-2 {
  @apply text-base font-normal;
}

.subtitle-1 {
  @apply text-base font-bold;
}

.subtitle-2 {
  @apply text-sm font-medium;
}

.caption {
  @apply text-xs font-normal;
}

.overline {
  @apply text-xs font-medium uppercase;
  letter-spacing: 1px;
  text-decoration-line: none !important;
}
